body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

* {
    box-sizing: content-box;
    margin: 0;
}


/* Header*/

.main-header {
    background: #3C3C3C;
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 3px solid #f00;
    margin-bottom: 30px;
    padding-top: 35px;
}

.main-header .container-img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.main-header .container-img img {
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 8px;
}

.main-header .main-title {
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin: 10px 0 20px;
    text-transform: uppercase;
}

.main-header .main-title:hover {
    color: blue;
}


/* Header Menu*/

.menu {
    background: #f00;
    width: 100%;
    float: left;
    padding: 15px;
}

.menu .container-item {
    padding: 0 50px;
    list-style: none;
}

.menu .container-item .item {
    float: left;
    width: calc(100%/3);
    text-align: center;
}

.menu .container-item .item a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.menu .container-item .item a:hover {
    cursor: pointer;
    background: #0F0E0E;
    color: #D8ECD8;
}


/*Sections*/

section {
    float: left;
    width: 100%;
    padding: 10px 12.5%;
    padding-bottom: 30px;
}

section h3 {
    font-size: 25px;
    background: #f00;
    color: #fff;
    float: left;
    clear: both;
    width: auto;
    padding: 5px;
    margin-bottom: 10px;
}

section p,
section address,
section ul {
    float: left;
    width: 100%;
}

section p,
section address {
    font-size: 14px;
    margin: 5px 0;
    font-size: 14px;
    margin: 5px 0;
    padding-left: 10px;
}

section address {
    font-style: normal;
}

section .ul-list {
    padding-left: 20px;
    list-style: none;
}

section .ul-list li {
    margin: 10px 0;
}

section .ul-list p {
    padding: 0;
}

section .ul-list a {
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
    border: 2px solid #f00;
    float: left;
    margin-top: 10px;
}

section .ul-list a:hover {
    background: #f00;
    color: #fff;
}

section .ul-list h4 {
    font-size: 18px;
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
}


/*Footer*/

.main-footer {
    float: left;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    background: #0A0808;
    margin-top: 40px;
}


/* Form */

.main-form {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.main-form .title {
    font-size: 25px;
    margin: 10px 0 20px;
}

.main-form .container-text {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 20px;
}

.main-form .container-text label {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
}

.main-form .container-text input:not([type=radio]):not([type=file]) {
    float: left;
    width: 100%;
    border: 2px solid #000;
    padding: 10px;
}

.main-form .container-text.radio label {
    float: left;
    width: auto;
    margin: 0 10px 0 0;
    font-size: 16px;
    clear: none;
}

.main-form .container-text.radio input {
    margin-right: 5px;
}

.main-form .container-text select {
    width: 250px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 15px;
    background: #20B93A;
    color: #110EE9;
    outline: none;
    /* tira marcação de linha da página*/
}

.main-form .container-text textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    font: 400 13.3333px Arial;
}

.main-form button {
    width: 40%;
    padding: 15px;
    border: 3px solid #000;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.main-form .btn-submit {
    float: left;
    background: #000;
    color: #fff;
}

.main-form .btn-reset {
    float: right;
    background: #585353;
    color: #EBF3F0;
}